@import "~react-image-gallery/styles/css/image-gallery.css";
.App {
  text-align: center;
  background-color: #f3f4f6;
}

@media (min-width: 1200px) {
  .headerResult {
    font-size: 38px;
    text-align: center;
    margin-top: 30px;
  }

  .picstyle {
    text-align: center;
    margin-top: 150px;
    width: 1800px;
  }
}

/* Large devices (desktop, 992px and up */
@media (min-width: 992px) and (max-width: 1199.98px) {
  .headerResult {
    font-size: 28px;
    text-align: center;
    margin-top: 30px;
  }

  .picstyle {
    text-align: center;
    margin-top: 140px;
    width: 1000px;
  }
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 991.98px) {
  .headerResult {
    font-size: 23px;
    text-align: center;
    margin-top: 30px;
  }

  .picstyle {
    text-align: center;
    margin-top: 30px;
    width: 880px;
  }
}

/* Small devices (landscape phone, 576px and up */
@media (min-width: 576px) and (max-width: 767.98px) {
  .headerResult {
    font-size: 18px;
    text-align: center;
    margin-top: 30px;
  }

  .picstyle {
    text-align: center;
    margin-top: 30px;
    width: 680px;
  }
}

/* Extra small devices (protrait phone , 475px and up )*/
@media (min-width: 475.98px) and (max-width: 575.98px) {
  .headerResult {
    font-size: 11px;
    text-align: center;
    margin-top: 30px;
  }

  .picstyle {
    text-align: center;
    margin-top: 30px;
    width: 480px;
  }
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}

.no-scrollbar {
  -ms-overflow-style: none;
  /* IE and Edge */
  scrollbar-width: none;
  /* Firefox */
}

.hovertext {
  position: relative;
}

.hovertext:before {
  content: attr(data-hover);
  visibility: hidden;
  opacity: 0;
  padding: 5px;
  min-width: 150px;
  background-color: whitesmoke;
  color: purple;
  text-align: center;
  border-radius: 5px;
  padding: 5px 0;
  transition: opacity 1s ease-in-out;

  position: absolute;
  z-index: 1;
  left: 100%;
  top: 0;
}

.hovertext:hover:before {
  opacity: 1;
  visibility: visible;
}

/* Extra small devices (protrait phone , 300 and up )*/
@media (min-width: 300px) and (max-width: 475.98px) {
  .headerResult {
    font-size: 9px;
    text-align: center;
    margin-top: 30px;
  }

  .pagination {
    margin: 15px auto;
    display: flex;
    list-style: none;
    outline: none;
  }

  .pagination>.active>a {
    background-color: #47ccde;
    border-color: #47ccde;
    color: #fff;
  }

  .pagination>li>a {
    border: 1px solid #47ccde;
    padding: 5px 10px;
    outline: none;
    cursor: pointer;
  }

  .pagination>.active>a,
  .pagination>.active>span,
  .pagination>.active>a:hover,
  .pagination>.active>span:hover,
  .pagination>.active>a:focus,
  .pagination>.active>span:focus {
    background-color: #47ccde;
    border-color: #47ccde;
    outline: none;
  }

  .pagination>li>a,
  .pagination>li>span {
    color: #47ccde
  }

  .pagination>li:first-child>a,
  .pagination>li:first-child>span,
  .pagination>li:last-child>a,
  .pagination>li:last-child>span {
    border-radius: unset
  }
}

.paginationButton {
  @apply items-center justify-between flex-1 flex space-x-5 text-lg
}
.paginationButtonPrev {
  @apply relative h-8 px-2 rounded-full hover:bg-violet-400 hover:text-white
}
.paginationButtonNext {
  @apply relative h-8 px-2 rounded-full hover:bg-violet-400 hover:text-white
}
.onActive{
  @apply bg-purple-400 text-white h-10 w-10 rounded-full justify-center flex items-center
}


  .image {
  width: 30vw;
  height: 30vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 20px;
  margin: auto;
}
